//###########################################################################
// Section padding
//###########################################################################

// Always add margin to first section to compensate for fixed header
//--------------------------------------------------------------------------

// section:first-of-type {
//   margin-top: 60px;
//   @include bp(sm) {
//     margin-top: 80px;
//   }
// }

// Section paddings
//--------------------------------------------------------------------------

.section--padding {
  padding-top: 70px;
  padding-bottom: 70px;

  @include bp(sm) {
  }
  @include bp(lg) {
    padding-top: 4.6875vw;
    padding-bottom: 4.6875vw;
  }
}

.section--padding-top {
  padding-top: 70px;
  @include bp(sm) {
  }
  @include bp(lg) {
    padding-top: 4.6875vw;
  }
}

.section--padding-bottom {
  padding-bottom: 4.6875vw;
}

.section--padding-large {
  padding-top: 70px;
  padding-bottom: 70px;
  @include bp(sm) {
  }
  @include bp(lg) {
    padding-top: 6.771vw;
    padding-bottom: 6.771vw;
  }
}

.section--padding-large-top {
  padding-top: 6.771vw;
  @include bp(sm) {
    padding-top: 70px;
  }
  @include bp(lg) {
  }
}

.section--padding-large-bottom {
  padding-top: 6.771vw;
}

.section--padding-small {
  padding-top: 2.344vw;
  padding-bottom: 2.344vw;
}

.section--padding-small-top {
  padding-top: 2.344vw;
}

.section--padding-small-bottom {
  padding-top: 2.344vw;
}

.page-container {
  padding-left: 15px;
  padding-right: 15px;
  @include bp(md) {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 85.677vw;
    margin: auto;
  }
  @include bp(lg) {
  }
}

.page-container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  @include bp(sm) {
    padding-left: 1.563vw;
    padding-right: 1.563vw;
  }
  @include bp(lg) {
  }
}

.content-container {
  @include bp(lg) {
    max-width: 71.094vw;
  }
}
