//###########################################################################
// Buttons
//###########################################################################
.button {
  display: inline-block;
  position: relative;
  background-color: $secondary-color;
  color: $text-color-light;
  overflow: hidden;
  vertical-align: middle;
  padding: 15px 40px;
  white-space: nowrap;
  transition: background-color 0.15s ease-out;
  text-transform: uppercase;
  padding: 20px 35px;
  @include bp(sm) {
    padding: 1.25vw 2.5vw;
  }
  @include bp(lg) {
  }

  &:hover {
    background-color: $color-white;
    color: $secondary-color;
    text-decoration: none;
  }
}

// Button Modifiers
//--------------------------------------------------------------------------

.btn--light {
  color: $text-color-dark;
  border: 2px solid rgba($color-white, 0.5);
}

.button--alt {
  color: $text-color-light;
  background-color: rgba($color-steel, 1);
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
    text-decoration: none;
  }
}

.button--sm {
  font-size: 0.938vw;
  padding: 0.781vw 0.9375vw 0.677vw;
}
