//###########################################################################
// Aspect Ratio
//###########################################################################

// Maintain Aspect Ratio
//--------------------------------------------------------------------------

@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));

  width: $width;
  height: 0;
  padding-bottom: $height;
}

// Maintain Aspect Ratio Iframe
//--------------------------------------------------------------------------

@mixin iframe-aspect-ratio($width, $height) {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: ($height / $width) * 100%;
  max-height: $height + px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}