//###########################################################################
// Pet food
//###########################################################################
.pet-food {
  background-color: rgba(#4197b5, 0.15);
  padding-left: 7.292vw;
  padding-right: 7.29vw;
  p {
    margin-bottom: 0;
    @include bp(lg) {
      font-size: 1.042vw;
      line-height: 1.302vw;
    }
  }
  .button {
    margin-top: 1.042vw;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 0.781vw;
    border-style: hidden !important;
  }

  tr:nth-child(2n) {
    background-color: rgba(#0d1f2b, 0.1);
    td {
      border: 1px solid rgba(#0d1f2b, 0.1);
    }
  }
  tr:nth-child(2n + 1) {
    background-color: rgba(#0d1f2b, 0.05);
    td {
      border: 1px solid rgba(#0d1f2b, 0.05);
    }
  }
  tr td:last-of-type {
    text-align: right;
  }

  &__left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    margin-top: 45px;
    @include bp(sm) {
    }
    @include bp(md) {
    }
    @include bp(lg) {
    }
  }

  &__packet {
    width: 100%;
    @include bp(sm) {
    }
    @include bp(md) {
      max-width: 26.042vw;
    }
    @include bp(lg) {
    }
  }
  &__graphic {
    max-width: 100%;
    margin-top: 3.906vw;
    @include bp(sm) {
    }
    @include bp(md) {
      max-width: 26.042vw;
    }
    @include bp(lg) {
    }
  }
  &__content {
    width: 100%;
    @include bp(sm) {
    }
    @include bp(md) {
      max-width: 41.667vw;
    }
    @include bp(lg) {
    }
  }
  &__main-sub-heading {
    @include bp(sm) {
    }
    @include bp(lg) {
      font-size: 2.08vw;
      line-height: 2.08vw;
      margin-bottom: 2.083vw;
    }
  }
  &__sub-heading {
    margin-bottom: 15px;
    margin-top: 45px;
    @include bp(sm) {
    }
    @include bp(lg) {
      font-size: 2.08vw;
      line-height: 2.08vw;
      margin-bottom: 2.083vw;
      margin-top: 3.542vw;
    }
  }
}
