//###########################################################################
// Products
//###########################################################################
.products {
  background-image: url("#{$theme_uri}/files/img/temp/texture.png");

  &__container {
    max-width: 85.417vw;
    margin: auto;
  }
  &__row {
    display: flex;
    justify-content: center;
  }
  &__heading {
    display: flex;
    margin: auto;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 5.469vw;
    color: #272727;
  }
  &__outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    @include bp(md) {
      flex-direction: row;
      align-items: flex-start;
      padding-top: 0px;
    }
  }
  &__content {
    text-align: center;
    margin-top: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include bp(sm) {
    }
    @include bp(md) {
      text-align: left;
      margin-top: 0;
      padding-left: 1.563vw;
      max-width: 12vw;
    }
  }
  &__image {
    img {
      width: 100%;
      @include bp(md) {
        width: 12.24vw;
      }
    }
  }
  &__title {
    font-weight: 500;
    margin-bottom: 0.78vw;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    @include bp(lg) {
      font-size: 2.083vw;
      line-height: 2.292vw;
    }
  }
  &__button {
    color: $text-color-light;
    font-size: 18px;
    padding: 15px;
    background-color: $primary-color;
    align-self: center;
    @include bp(lg) {
      font-size: 0.938vw;
      padding: 0.781vw 0.781vw 0.65vw;
      align-self: flex-start;
    }
  }
}
