//###########################################################################
// Text image (section with a background image and text sits on the right)
//###########################################################################
.text-image {
  position: relative;
  &__content {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translatey(-50%);
    padding-left: 45px;
    padding-right: 45px;
    @include bp(sm) {
      max-width: 500px;
    }
    @include bp(lg) {
      left: 14.323vw;
      max-width: 26.042vw;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &__heading {
    font-weight: 100;
    margin-bottom: 23px;
    @include bp(sm) {
      font-size: 31px;
    }
    @include bp(lg) {
      margin-bottom: 1.98vw;
      font-size: 3.75vw;
    }
  }
}
