//###########################################################################
// Global JS animation classes
//###########################################################################

.fade-text-container {
  position: relative;
  top: 0;
  left: 0;
}

.fade-text-right {
  z-index: 1;
  top: 0px;
  opacity: 0;
  transform: translatex(10px);
  transition: all 1s;
}

.fade-text-left {
  z-index: 1;
  top: 0px;
  opacity: 0;
  transform: translatex(-10px);
  transition: all 1s;
}

.fade-text-right.fade-in {
  opacity: 1;
  transform: translatex(0px);
}

.fade-text-left.fade-in {
  opacity: 1;
  transform: translatex(0px);
}
