//###########################################################################
// Border utility classes
//###########################################################################

.image-border {
  border: 1px solid $color-black;
}

.b-none {
  border: none;
}

.underline {
  display: inline-block;
  border-bottom: 0.104vw solid #051b3e;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.underline-alt {
  display: inline-block;
  border-bottom: 0.104vw solid $color-white;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
