/*###########################################################################
  Color utility classes
  ########################################################################### */

/*- Color classes
  --------------------------------------------------------------------------  */

// Loops over the colorsMap
@each $name, $color_hex in $colorsMap {
    .c-#{$name} {
      color: $color_hex;
    }
    .c-bg-#{$name} {
      background-color: $color_hex;
    }
  }