//###########################################################################
// Font utility classes
//###########################################################################

.light {
  font-weight: 100;
}

.semibold {
  font-weight: 800;
}

.bold,
strong {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}
