//###########################################################################
// Margin utility classes
//###########################################################################

// Margin variables
//--------------------------------------------------------------------------

$margin-1: 0.667vw;
$margin-2: 1.333vw;
$margin-3: 2.666vw;
$margin-4: 5.333vw;
$margin-5: 10.666vw;

// Margin
//--------------------------------------------------------------------------

.m0 {
  margin: 0 !important;
}
.m1 {
  margin: ($margin-1) !important;
}
.m2 {
  margin: ($margin-2) !important;
}
.m3 {
  margin: ($margin-3) !important;
}
.m4 {
  margin: ($margin-4) !important;
}
.m5 {
  margin: ($margin-5) !important;
}

// Margin top
//--------------------------------------------------------------------------

.mt-auto {
  margin-top: auto !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt1 {
  margin-top: ($margin-1) !important;
}
.mt2 {
  margin-top: ($margin-2) !important;
}
.mt3 {
  margin-top: ($margin-3) !important;
}
.mt4 {
  margin-top: ($margin-4) !important;
}
.mt5 {
  margin-top: ($margin-5) !important;
}
.mt6 {
  margin-top: 6vw !important;
}

// Margin right
//--------------------------------------------------------------------------

.mr-auto {
  margin-right: auto !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr1 {
  margin-right: ($margin-1) !important;
}
.mr2 {
  margin-right: ($margin-2) !important;
}
.mr3 {
  margin-right: ($margin-3) !important;
}
.mr4 {
  margin-right: ($margin-4) !important;
}
.mr5 {
  margin-right: ($margin-5) !important;
}

// Margin bottom
//--------------------------------------------------------------------------

.mb0 {
  margin-bottom: 0 !important;
}
.mb1 {
  margin-bottom: ($margin-1) !important;
}
.mb2 {
  margin-bottom: ($margin-2) !important;
}
.mb3 {
  margin-bottom: ($margin-3) !important;
}
.mb4 {
  margin-bottom: ($margin-4) !important;
}
.mb5 {
  margin-bottom: ($margin-5) !important;
}

// Margin left
//--------------------------------------------------------------------------

.ml-auto {
  margin-left: auto !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml1 {
  margin-left: ($margin-1) !important;
}
.ml2 {
  margin-left: ($margin-2) !important;
}
.ml3 {
  margin-left: ($margin-3) !important;
}
.ml4 {
  margin-left: ($margin-4) !important;
}
.ml5 {
  margin-left: ($margin-5) !important;
}

// Margin left and right
//--------------------------------------------------------------------------

.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx1 {
  margin-left: ($margin-1) !important;
  margin-right: ($margin-1) !important;
}
.mx2 {
  margin-left: ($margin-2) !important;
  margin-right: ($margin-2) !important;
}
.mx3 {
  margin-left: ($margin-3) !important;
  margin-right: ($margin-3) !important;
}
.mx4 {
  margin-left: ($margin-4) !important;
  margin-right: ($margin-4) !important;
}
.mx5 {
  margin-left: ($margin-5) !important;
  margin-right: ($margin-5) !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mxn1 {
  margin-left: -($margin-1) !important;
  margin-right: -($margin-1) !important;
}
.mxn2 {
  margin-left: -($margin-2) !important;
  margin-right: -($margin-2) !important;
}
.mxn3 {
  margin-left: -($margin-3) !important;
  margin-right: -($margin-3) !important;
}
.mxn4 {
  margin-left: -($margin-4) !important;
  margin-right: -($margin-4) !important;
}

// Margin top and bottom
//--------------------------------------------------------------------------

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my1 {
  margin-top: ($margin-1) !important;
  margin-bottom: ($margin-1) !important;
}
.my2 {
  margin-top: ($margin-2) !important;
  margin-bottom: ($margin-2) !important;
}
.my3 {
  margin-top: ($margin-3) !important;
  margin-bottom: ($margin-3) !important;
}
.my4 {
  margin-top: ($margin-4) !important;
  margin-bottom: ($margin-4) !important;
}
.my5 {
  margin-top: ($margin-5) !important;
  margin-bottom: ($margin-5) !important;
}

// Bootstrap negative margins
//--------------------------------------------------------------------------

.mxnbs {
  margin-left: -($grid-gutter-width / 2) !important;
  margin-right: -($grid-gutter-width / 2) !important;
}

// Margin extends
//--------------------------------------------------------------------------

%mb1 {
  margin-bottom: ($margin-1) !important;
}
