//###########################################################################
// Padding utility classes
//###########################################################################

// Padding variables
//--------------------------------------------------------------------------

$padding-1: 0.5rem;
$padding-2: 1rem;
$padding-3: 2rem;
$padding-4: 4rem;
$padding-8: 8rem;
$padding-10: 10rem;

// Padding
//--------------------------------------------------------------------------

.p0 {
  padding: 0 !important;
}
.p1 {
  padding: ($padding-1) !important;
}
.p2 {
  padding: ($padding-2) !important;
}
.p3 {
  padding: ($padding-3) !important;
}
.p4 {
  padding: ($padding-4) !important;
}
.p8 {
  padding: ($padding-8) !important;
}

// Padding top
//--------------------------------------------------------------------------

.pt0 {
  padding-top: 0 !important;
}
.pt1 {
  padding-top: ($padding-1) !important;
}
.pt2 {
  padding-top: ($padding-2) !important;
}
.pt3 {
  padding-top: ($padding-3) !important;
}
.pt4 {
  padding-top: ($padding-4) !important;
}
.pt8 {
  padding-top: ($padding-8) !important;
}

// Padding right
//--------------------------------------------------------------------------

.pr0 {
  padding-right: 0 !important;
}
.pr1 {
  padding-right: ($padding-1) !important;
}
.pr2 {
  padding-right: ($padding-2) !important;
}
.pr3 {
  padding-right: ($padding-3) !important;
}
.pr4 {
  padding-right: ($padding-4) !important;
}
.pr8 {
  padding-right: ($padding-8) !important;
}

// Padding bottom
//--------------------------------------------------------------------------

.pb0 {
  padding-bottom: 0 !important;
}
.pb1 {
  padding-bottom: ($padding-1) !important;
}
.pb2 {
  padding-bottom: ($padding-2) !important;
}
.pb3 {
  padding-bottom: ($padding-3) !important;
}
.pb4 {
  padding-bottom: ($padding-4) !important;
}
.pb8 {
  padding-bottom: ($padding-8) !important;
}

// Padding left
//--------------------------------------------------------------------------

.pl0 {
  padding-left: 0 !important;
}
.pl1 {
  padding-left: ($padding-1) !important;
}
.pl2 {
  padding-left: ($padding-2) !important;
}
.pl3 {
  padding-left: ($padding-3) !important;
}
.pl4 {
  padding-left: ($padding-4) !important;
}
.pl8 {
  padding-left: ($padding-8) !important;
}

// Padding left and right
//--------------------------------------------------------------------------

.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px1 {
  padding-left: ($padding-1) !important;
  padding-right: ($padding-1) !important;
}
.px2 {
  padding-left: ($padding-2) !important;
  padding-right: ($padding-2) !important;
}
.px3 {
  padding-left: ($padding-3) !important;
  padding-right: ($padding-3) !important;
}
.px4 {
  padding-left: ($padding-4) !important;
  padding-right: ($padding-4) !important;
}
.px8 {
  padding-left: ($padding-8) !important;
  padding-right: ($padding-8) !important;
}

// Padding top and bottom
//--------------------------------------------------------------------------

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py1 {
  padding-top: ($padding-1) !important;
  padding-bottom: ($padding-1) !important;
}
.py2 {
  padding-top: ($padding-2) !important;
  padding-bottom: ($padding-2) !important;
}
.py3 {
  padding-top: ($padding-3) !important;
  padding-bottom: ($padding-3) !important;
}
.py4 {
  padding-top: ($padding-4) !important;
  padding-bottom: ($padding-4) !important;
}
.py8 {
  padding-top: ($padding-8) !important;
  padding-bottom: ($padding-8) !important;
}

// Padding extends
//--------------------------------------------------------------------------

%pb1 {
  padding-bottom: ($padding-1) !important;
}
%py1 {
  padding-top: ($padding-1) !important;
  padding-bottom: ($padding-1) !important;
}
