//###########################################################################
// Scroll utility classes
//###########################################################################

html {
  scroll-behavior: smooth;
}

.no--scroll {
  overflow: hidden;
}
