//###########################################################################
// Font Imports
//###########################################################################

// Cambay Regular
//--------------------------------------------------------------------------

$itc: itc_souvenir, serif;
$primary-font: $itc;

// Itc Souvenier
//--------------------------------------------------------------------------

@font-face {
  font-family: "itc_souvenir";
  src: url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_medium/itc_souvenir_medium.eot?"); /* IE9 Compat Modes */
  src: url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_medium/itc_souvenir_medium.eot?")
      format("embedded-opentype"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_medium/itc_souvenir_medium.woff")
      format("woff"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_medium/itc_souvenir_medium.woff2")
      format("woff2"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_medium/itc_souvenir_medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "itc_souvenir";
  src: url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_demi/itc_souvenir_demi.eot?"); /* IE9 Compat Modes */
  src: url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_demi/itc_souvenir_demi.eot?")
      format("embedded-opentype"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_demi/itc_souvenir_demi.woff")
      format("woff"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_demi/itc_souvenir_demi.woff2")
      format("woff2"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_demi/itc_souvenir_demi.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "itc_souvenir";
  src: url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_bold/itc_souvenir_bold.eot?"); /* IE9 Compat Modes */
  src: url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_bold/itc_souvenir_bold.eot?")
      format("embedded-opentype"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_bold/itc_souvenir_bold.woff")
      format("woff"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_bold/itc_souvenir_bold.woff2")
      format("woff2"),
    url("#{$theme_uri}/files/fonts/itc_souvenir/itc_souvenir_bold/itc_souvenir_bold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}
//###########################################################################
// Font styles
//###########################################################################

// Base font styles
//--------------------------------------------------------------------------

html {
  font-size: $font-size-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-base-min;
  font-weight: 400;
  line-height: $line-height-base-min;
  color: $text-color-dark;

  @include bp(lg) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

p,
span {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-base-min;
  font-weight: 400;
  line-height: $line-height-base-min;

  @include bp(lg) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

// p,
// span {
//   font-family: $primary-font;
//   font-size: $font-size-base-min;
//   font-weight: 400;
//   line-height: $line-height-base-min;
// }

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $primary-font;
}

h1,
.h1 {
  font-size: $font-size-h1-min;
  line-height: $line-height-h1-min;

  @include bp(lg) {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
  }
}

h2,
.h2 {
  font-size: $font-size-h2-min;
  line-height: $line-height-h2-min;

  @include bp(lg) {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
}

h3,
.h3 {
  font-size: $font-size-h3-min;
  line-height: $line-height-h3-min;

  @include bp(sm) {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
}

h4,
.h4 {
  font-size: $font-size-h4-min;
  line-height: $line-height-h4-min;

  @include bp(lg) {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
  }
}

h5,
.h5 {
  font-size: $font-size-h5-min;
  line-height: $line-height-h5-min;

  @include bp(sm) {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
  }
}

h6,
.h6 {
  font-size: $font-size-h6-min;
  line-height: $line-height-h6-min;

  @include bp(sm) {
    font-size: $font-size-h6;
    line-height: $line-height-h6;
  }
}

// Selection styles
//--------------------------------------------------------------------------

::selection {
  opacity: 1;
  color: $color-white;
  background: rgba($color-orange, 0.99); /* WebKit/Blink Browsers */
}

::-moz-selection {
  opacity: 1;
  color: $color-white;
  background: rgba($color-orange, 0.99); /* Gecko Browsers */
}
