//###########################################################################
// Variables
//###########################################################################

//###########################################################################
// Theme
//###########################################################################

$theme_uri: "/wp-content/themes/m360theme";

//###########################################################################
// Font family
//###########################################################################

$primary-font: "objektiv-mk3", "sans-serif";

//###########################################################################
// Color variables
//###########################################################################

// Main Colors
//--------------------------------------------------------------------------

$color-white: #ffffff;
$color-black: #272727;
$color-light-grey: #f5f5f5;
$color-dark-grey: #5c5c5c;
$color-orange: #e26715;
$color-mustard: #dbab00;
$color-steel: #2c2e34;
$color-teal: #809c90;

$color-dark-blue: #0d1f2b;
$color-gold: #978252;
$color-mid-grey: #d6d4c4;

$primary-color: $color-dark-blue;
$secondary-color: $color-gold;
$tertiary-color: $color-teal;
$button-color: $color-mustard;
$text-color-dark: $color-dark-blue;
$text-color-light: $color-white;

// Colors Map
//--------------------------------------------------------------------------

$colorsMap: (
  white: $color-white,
  black: $color-black,
  primary: $primary-color,
  secondary: $secondary-color,
);

// Text Colors
//--------------------------------------------------------------------------

$text-light: $color-white;
$text-dark: $color-dark-grey;

//###########################################################################
// Fonts
//###########################################################################

// Font sizes
//--------------------------------------------------------------------------

//body
$font-size-base-min: 16px;
$font-size-base: 1.042vw;

$line-height-base-min: 26px;
$line-height-base: 1.302vw;

//h1
$font-size-h1-min: 35px;
$font-size-h1: 3.75vw;

$line-height-h1-min: 40px;
$line-height-h1: 5.208vw;

//h2
$font-size-h2-min: $font-size-h1-min;
$font-size-h2: $font-size-h1;

$line-height-h2-min: $line-height-h1-min;
$line-height-h2: $font-size-h1;

//h3
$font-size-h3-min: 30px;
$font-size-h3: 2.343vw;

$line-height-h3-min: 40px;
$line-height-h3: 3.385vw;

//h4
$font-size-h4-min: 24px;
$font-size-h4: 1.56vw;

$line-height-h4-min: 26px;
$line-height-h4: 1.56vw;

//h5
$font-size-h5-min: 24px;
$font-size-h5: 1.56vw;

$line-height-h5-min: 32px;
$line-height-h5: 1.56vw;

//h6
$font-size-h6-min: 24px;
$font-size-h6: 1.56vw;

$line-height-h6-min: 32px;
$line-height-h6: 1.56vw;
