//###########################################################################
// Image
//###########################################################################

// Responsive images
//--------------------------------------------------------------------------

img {
  display: block;
  width: 100%;
  height: auto;
}
