//###########################################################################
// Footer
//###########################################################################
.footer {
  background-color: rgba($primary-color, 0.9);
  color: $text-color-light;
  font-weight: 400;
  line-height: 26px;
  @include bp(lg) {
    font-size: 0.9375vw;
    line-height: 1.615vw;
  }

  &__logo {
    display: inline-block;
    max-width: 230px;
    @include bp(sm) {
    }
    @include bp(lg) {
      display: block;
      margin-bottom: 3.125vw;
      max-width: 8.854vw;
    }
  }
  &__links {
    margin-top: 35px;
    color: $text-color-light;
    @include bp(lg) {
      margin-top: 0px;
    }
  }
  &__heading {
    text-transform: uppercase;
    padding-bottom: 1.146vw;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 30px;
    color: inherit;
    @include bp(sm) {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    @include bp(lg) {
      font-size: 0.9378vw;
      line-height: 1.455vw;
    }
    > a {
      padding-bottom: 1.047vw;
      display: inline-block;
    }
  }

  &__left {
    text-align: center;
    @include bp(md) {
      text-align: left;
    }
    p {
      margin-bottom: 5px;
      color: $text-color-light;
    }
  }
  &__center {
    text-align: center;
    margin-top: 30px;
    @include bp(md) {
      margin-top: 0px;
      text-align: left;
    }
  }

  &__services-menu {
    padding-left: 0;
    margin-top: 10px;
    display: none;
    list-style-type: none;
    @include bp(sm) {
      width: 75%;
      margin: auto;
    }
    @include bp(md) {
      display: block;
      width: 100%;
      margin-top: 0px;
    }
    > li {
      text-transform: uppercase;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 15px;

      > li {
        float: left;
        width: 100%;
        text-transform: none;
        margin-bottom: 3px;
        padding-right: 5px;
        @include bp(sm) {
          width: 50%;
        }
        @include bp(lg) {
          margin-bottom: 5px;
          font-size: 0.9378vw;
          line-height: 1.455vw;
        }
      }
    }
  }

  &__right {
    text-align: center;
    // margin-top: 30px;
    @include bp(md) {
      text-align: left;
      margin-top: 0px;
    }
  }
}
