// //###########################################################################
// // Links
// //###########################################################################

// .link {
//   position: relative;
//   display: inline-block;
//   font-weight: 700;

//   .link__underline {
//     position: absolute;
//     width: 0;
//     height: 2px;
//     bottom: -4px;
//     left: 0;
//     opacity: 0;
//   }

//   &:not(.link--proximity) {
//     .link__underline {
//       position: absolute;
//       width: 0;
//       transition: all 0.2s;
//     }

//     &:hover {
//       .link__underline {
//         width: 100%;
//         opacity: 1;
//       }
//     }
//   }
// }

// //###########################################################################
// // Links modifiers
// //###########################################################################

// .link--yellow {
//   a {
//     color: $color-yellow !important;
//   }
//   .link__underline {
//     background-color: $color-yellow !important;
//   }
// }

// .link--pink {
//   a {
//     color: $color-pink !important;
//   }
//   .link__underline {
//     background-color: $color-pink !important;
//   }
// }

// .link--steel {
//   a {
//     color: $color-steel !important;
//   }
//   .link__underline {
//     background-color: $color-steel !important;
//   }
// }

// .link--teal {
//   a {
//     color: $color-teal !important;
//   }
//   .link__underline {
//     background-color: $color-teal !important;
//   }
// }

// .link--light {
//   a {
//     color: $text-light !important;
//   }
//   .link__underline {
//     background-color: $text-light !important;
//   }
// }

// .link--dark {
//   a {
//     color: $text-dark !important;
//   }
//   .link__underline {
//     background-color: $text-dark !important;
//   }
// }

// //###########################################################################
// // Links modifiers
// //###########################################################################

// .path--yellow {
//   fill: $color-yellow !important;
// }

// .path--pink {
//   fill: $color-pink !important;
// }

// .path--steel {
//   fill: $color-steel !important;
// }

// .path--teal {
//   fill: $color-teal !important;
// }
