//###########################################################################
// Icons
//###########################################################################

.icon {
  display: inline-block;
  &--social {
    max-width: 25px;
    max-height: 25px;
    @include bp(sm) {
    }
    @include bp(lg) {
      max-width: 1.563vw;
      max-height: 1.563vw;
    }
  }
}

.social-icon {
  margin-right: 5px;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  @include bp(sm) {
  }
  @include bp(lg) {
    padding: 0.521vw;
  }
  &__group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    @include bp(sm) {
    }
    @include bp(md) {
      justify-content: left;
    }
    @include bp(lg) {
      justify-content: left;
      margin-top: 0px;
    }
  }
}

// Color modifiers
//--------------------------------------------------------------------------

.icon--light {
  background-color: $color-white;
  opacity: 0.5;

  path {
    fill: $color-steel;
  }
}

.icon--dark {
  fill: $color-black;

  path {
    fill: $color-black;
  }
}

.icon--steel {
  fill: $color-steel;

  path {
    fill: $color-steel;
  }
}
