//###########################################################################
// Project with carousel
//###########################################################################
.project {
  &__content-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__content {
    margin-bottom: 30px;
    @include bp(md) {
      // margin-left: 5vw;
    }
    @include bp(lg) {
      margin-bottom: 0px;
      max-width: 28.06vw;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 30px;

    @include bp(sm) {
      font-size: 24px;
      line-height: 34px;
    }
    @include bp(lg) {
      font-size: 2.344vw;
      line-height: 3.385vw;
      padding-bottom: 2vw;
      font-weight: 300;
    }
  }
}

//###########################################################################
// Owl custom navigation elements
//###########################################################################
.project {
  &__nav-carousel {
    display: none !important;
    @include bp(md) {
      display: block !important;
    }
    position: relative;
    .owl-stage-outer {
      padding-top: 0.521vw;
    }
    .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: -1;
    }
  }
  &__nav-slide {
    padding: 0.781vw;
  }
  .owl-prev img,
  .owl-next img {
    width: 15px;
  }
  .owl-prev img {
    margin-left: -25px;
  }
  .owl-next img {
    margin-right: -25px;
  }
}

//###########################################################################
// Owl main carousel
//###########################################################################
.project {
  &__project-carousel {
    position: relative;
    .owl-stage-outer {
      padding-top: 0.521vw;
    }
    .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include bp(md) {
        display: none;
      }
    }
  }
  &__nav-slide {
    padding: 0.781vw;
  }
  .owl-prev,
  .owl-next {
    // width: 0.6vw;
  }
  .owl-next img {
    float: right;
  }
}

//###########################################################################
// Navigation elements
//###########################################################################
.project {
  &__carousel {
    .owl-dots {
      position: absolute;
      left: 0px;
      bottom: 20px;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .owl-dot {
      background: #ffffff !important;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      width: 12px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    }
    .owl-dot.active {
      background: none !important;
      border: 1px solid #fff;
    }
  }
}
