//###########################################################################
// Carousel
//###########################################################################
.hero {
  &__carousel {
    display: flex;
    flex-direction: row;
  }

  &__slide {
    position: relative;
  }
  &__slide-content-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%);
    top: 4%;
    text-align: center;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @include bp(sm) {
      padding-left: 0px;
      padding-right: 0px;
      max-width: 400px;
    }
    @include bp(md) {
      max-width: 61vw;
    }
  }
  &__slide-content-bottom {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    z-index: 2;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @include bp(lg) {
      padding-left: 0px;
      padding-right: 0px;
      max-width: initial;
      width: 50%;
    }
  }
  &__image {
    position: relative;
  }
  &__tint {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__heading {
    font-weight: 700;
    margin: 0 auto 1.823vw auto;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    @include bp(sm) {
      // font-size: 36px;
      // line-height: 47px;
      // max-width: 45vw;
    }
    @include bp(md) {
      font-size: 3.542vw;
      line-height: 3.646vw;
      // max-width: 45vw;
    }
  }
  &__sub-heading {
    max-width: 40vw;
    margin: 0 auto 1.823vw auto;
    display: none;
    @include bp(lg) {
      display: block;
    }
    padding: 1.25vw 2.5vw;
    font-size: 0.9375vw;
  }
  &__button {
    margin-top: 30px;
    font-size: 11px;
    padding: 7px;
    margin: 5px;
    @include bp(sm) {
    }
    @include bp(md) {
      padding: 1.25vw 2.5vw;
      font-size: 0.9375vw;
      margin-top: 0;
      margin: 0 0.521vw;
    }
  }
}

//###########################################################################
// Navigation elements
//###########################################################################
.hero {
  &__carousel {
    .owl-nav {
      display: none;
    }
    .owl-dots {
      position: absolute;
      left: 0px;
      bottom: 20px;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .owl-dot {
      background: #ffffff !important;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      width: 12px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    }
    .owl-dot.active {
      background: none !important;
      border: 1px solid #fff;
    }
  }
}
