//###########################################################################
// Full width text
//###########################################################################
.full-width-text {
  &__content {
    text-align: left;
    padding-left: 45px;
    padding-right: 45px;
    margin: auto;
    @include bp(md) {
      max-width: 63.54vw;
    }
    @include bp(lg) {
    }
  }
  :last-child {
    margin-bottom: 0 !important;
  }
}
