//###########################################################################
// Services with icons
//###########################################################################
.services-icons {
  background-color: $primary-color;
  &__container {
    max-width: 85.417vw;
    margin: auto;
  }
  &__heading {
    color: $text-light;
    display: flex;
    margin: auto;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 5.469vw;

    span {
      display: inline-block;
      padding: 2.5vw 2.083vw 1.563vw;
      border: 0.781vw solid $secondary-color;
      @include bp(sm) {
        font-size: 3.125vw;
      }
    }
    span:first-of-type {
      background-color: $secondary-color;
      padding-left: 2.344vw;
      padding-right: 2.344vw;
      margin-right: -0.521vw;
      font-size: 24px;
      @include bp(sm) {
        font-size: 3.75vw;
      }
    }
  }
  &__outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include bp(lg) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__content {
    text-align: center;
    margin-top: 12px;
    color: $text-light;
    @include bp(sm) {
    }
    @include bp(lg) {
      text-align: left;
      margin-top: 0;
      padding-left: 1.563vw;
    }
  }
  &__icon {
    img {
      height: 3.906vw;
      width: inherit;
      min-height: 50px;
    }
  }
  &__title {
    font-weight: 500;
    margin-bottom: 0.78vw;
    font-size: 20px;
    text-transform: uppercase;
    @include bp(sm) {
      font-size: 20px;
      line-height: 29px;
    }
    @include bp(lg) {
      font-size: 1.56vw;
      line-height: 1.56vw;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.1667vw;
    @include bp(sm) {
      flex-direction: row;
    }
  }
  &__button {
    margin: 0 0.781vw;
    text-align: center;
    &:first-of-type {
      margin-bottom: 15px;
      @include bp(sm) {
        margin-bottom: initial;
      }
    }
  }
}
