//###########################################################################
// Full width content
//###########################################################################
.full-width {
  background-image: url("#{$theme_uri}/files/img/temp/texture.png");
  &__heading {
    text-transform: uppercase;
    @include bp(md) {
    }
    @include bp(lg) {
      margin-bottom: 3.125vw;
    }
  }
  &__content {
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    margin: auto;
    @include bp(md) {
      max-width: 63.54vw;
    }
    @include bp(lg) {
    }
  }
  &__image {
    max-width: 11.98vw;
    min-width: 150px;
    margin: 6.25vw auto 1.302vw;
  }
  :last-child {
    margin-bottom: 0 !important;
  }
}
