//###########################################################################
// Contact
//###########################################################################

.contact {
  padding-left: 7.292vw;
  padding-right: 7.29vw;
  background-color: $color-mid-grey;
  &__heading {
    font-weight: 100;
    margin-bottom: 30px;
    @include bp(lg) {
      margin-bottom: 3.5vw;
    }
  }
  &__info {
    margin-bottom: 2.5vw;

    @include bp(sm) {
      display: none;
    }
  }
  &__outer {
    display: flex;
    flex-direction: column;
    min-height: 500px;
  }
  &__content {
    width: 100%;
    margin-top: 70px;
    display: inline-block;
    @include bp(sm) {
    }
    @include bp(lg) {
      margin-top: 6rem;
    }
    span {
      display: block;
      margin-bottom: 5px;
    }
  }

  &__top,
  &__mid {
    margin-bottom: 1.5rem;
    line-height: 26px;
    @include bp(md) {
      font-size: 1.25vw;
      line-height: 1.563vw;
    }
  }

  &__map {
    width: 100%;
    height: 200px;
    border: #ccc solid 1px;
    // margin: 20px 0;
    img {
      max-width: inherit !important;
    }
    @include bp(lg) {
      max-width: 20.156vw;
      // height: 100%;
    }
  }
  &__stockists-map {
    width: 100%;
    height: 100%;
    border: #ccc solid 1px;
    img {
      max-width: inherit !important;
    }
    @include bp(lg) {
    }
  }
}

.contact-form {
  &__half {
    padding: 10px 0px;
    @include bp(lg) {
      padding: 0.75vw;
    }
  }
  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    width: 100%;
    font-size: 19px;
    font-family: $primary-font;
    @include bp(lg) {
      font-size: 0.99vw;
    }
  }
  textarea {
    padding-top: 5px;
  }
  .button {
    width: initial;
  }
  &__half:nth-of-type(odd) {
    @include bp(sm) {
      padding-right: 16px;
    }
    @include bp(lg) {
      padding-left: 0px;
    }
  }
  &__half:nth-of-type(even) {
    padding-right: 0px;
    @include bp(lg) {
      padding-right: 0;
    }
  }
  span {
    display: inline-block;
    padding: 10px 15px;
    background-color: $text-light;
    width: 100%;
  }
  &__half {
    width: 50%;
    float: left;
    @include bp(xs) {
      width: 100%;
    }
  }
  &__full {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  .button {
    margin-top: 40px;
    @include bp(lg) {
      margin-top: 1.5vw;
    }
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    top: 2px;
    pointer-events: none;
    opacity: 0.25;
    background-color: rgba(0, 0, 0, 0);
    right: 0;
    width: auto;
  }
}

//###########################################################################
// Marker
//###########################################################################
.marker {
  &__name {
    margin-bottom: 0px;
  }
  &__address {
    @include bp(lg) {
      font-size: 1.042vw;
      margin-bottom: 0.521vw;
    }
  }
  &__phone {
    margin-bottom: 0px;
  }
}
