//###########################################################################
// Internal header
//###########################################################################
.int-header {
  color: $text-light;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;

  @include bp(lg) {
    padding-top: 3.542vw;
    padding-bottom: 3.452vw;
  }

  &__title {
    font-weight: 100;
    font-size: 31px;
    @include bp(lg) {
      font-size: 3.125vw;
    }
  }
}
