//###########################################################################
// Header
//###########################################################################
.header {
  width: 100%;
  background-color: $primary-color;
  z-index: 2;
  position: fixed;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__logo-container {
    margin-left: 3.125vw;
    display: flex;
  }

  &__logo {
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
    max-width: 9.271vw;
  }

  &__usa {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    @include bp(sm) {
      display: flex;
    }
  }

  &__usa-image {
    width: 3.649vw;
    margin-left: 2.344vw;
    min-width: 45px;
  }

  &__usa-tagline {
    color: $text-light;
    white-space: nowrap;
    margin-left: 1.041vw;
    margin-bottom: 0;
  }
  &__usa-mobile {
    display: none;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__tel {
    color: $color-mustard;
    font-size: 0.729vw;
  }

  &__menu {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
    margin-right: 3.125vw;

    a {
      white-space: nowrap;
      font-size: 0.833vw;
      font-weight: 400;
      transition: 0.1s color ease-in;
      &:hover {
        color: $tertiary-color;
      }
    }

    .current_page_item {
      font-weight: bold;
    }

    // Target top level menu items
    > li {
      position: relative;
      padding: 2.65vw 2.083vw;
      user-select: none;
      color: $text-color-light;
      //menu bold on hover using data attributes to prevent display shift
      > ul {
        color: $text-color-light;
      }
      > a:hover {
        // font-weight: bold;
      }
      // > a:after {
      //   display: block;
      //   content: attr(title);
      //   font-weight: bold;
      //   height: 1px;
      //   color: transparent;
      //   overflow: hidden;
      //   visibility: hidden;
      // }

      // > ul {
      //   @include bp(md) {
      //     position: absolute;
      //     top: 6vw;
      //     left: 50%;
      //     transform: translateX(-50%);
      //     background-color: rgba(44, 46, 42, 0.85);
      //     text-align: center;
      //     padding: 0.75vw 0.95vw;
      //     list-style: none;
      //     display: inline-block;
      //     visibility: hidden;
      //     opacity: 0;
      //     transition: visibility 0s, opacity 0.15s linear;
      //   }
      // }

      // Sub menu on hover
      @include bp(md) {
        // ... and reveal on hover
        &:hover,
        &:active,
        &:focus {
          &:after {
            opacity: 1;
          }
          a {
            text-decoration: none;
            // color: $color-dark-blue;
          }
          > ul {
            visibility: visible;
            opacity: 1;
            li {
              padding-top: 0.13vw;
              padding-bottom: 0.13vw;
            }
            a {
              color: $text-color-light;
              // &:hover,
              // &:active,
              // &:focus {
              //   color: $primary-color;
              // }
            }
          }
        }
      }
    }
    li:last-of-type {
      background-color: $tertiary-color;
      color: $color-white;
      transition: 0.1s all ease-in;
      &:hover {
        background-color: $color-white;
        color: $tertiary-color;
      }
    }
    &__sub-menu-toggle {
      display: none;
    }
  }

  &__menu-mobile-tel,
  &__menu-mobile-logo {
    display: none;
  }

  // Mobile styles

  @include bp(tablet) {
    &__logo-container {
      padding: 25px 0px;
    }
    &__logo {
      width: 125px;
      max-width: initial;
      margin: 15px 0px;
    }
    &__usa-mobile {
      display: block;
    }
    &__usa-image-mobile {
      width: 50%;
      margin: auto;
    }
    &__usa-tagline-mobile {
      color: $text-color-light;
    }

    &__mobile-logo {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 35px;
    }
    &__right {
      width: 100%;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      margin-right: 0;
      width: 100%;
    }

    &__menu-container {
      display: flex;
      align-items: center;
      overflow-y: scroll;
      height: 100vh;
      width: 100%;
      padding-top: 75px;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba($primary-color, 0.95);
      visibility: hidden;
      opacity: 0;
      transition: 0.2s opacity ease-in, 0.2s visibility ease-in;

      .is--open & {
        display: flex;
      }
    }
    &__menu > li > ul {
      display: block;
      max-height: 0;
      overflow: hidden;
      padding-left: 0;
      transition: 0.2s max-height ease-in;
      margin-bottom: 0;
    }
    &__content {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    &__button {
      display: none;
    }
    &__tel {
      display: none;
    }
    li {
      width: 100%;
      padding: 20px 10px 0px;
      text-align: center;
      color: $text-color-light;
      font-weight: 100;
      // > a:hover {
      //   color: $primary-color;
      // }
    }
    a {
      font-size: 14px;
      line-height: 24px;
    }
    li:last-of-type {
      background-color: initial;
    }
    .menu-item-has-children a {
      position: relative;
      display: inline-block;
    }
    // &__sub-menu-toggle {
    //   position: absolute;
    //   padding: 5px;
    //   color: white;
    //   display: inline;
    //   max-width: 25px;
    //   max-height: 30px;
    //   top: 4px;
    //   right: -30px;
    // }
    &__menu-mobile-tel {
      color: $text-color-light;
      display: block;
      margin-top: 20px;
      color: $primary-color;
    }
    &__menu-mobile-logo {
      display: block;
      width: 200px;
      max-width: initial;
      margin: 15px;
    }
  }
}

.header__menu > li > ul.is-open {
  max-height: 400px;
}

.is-active .header__menu-container {
  visibility: visible;
  opacity: 1;
  transition: 0.2s opacity ease;
}

.no-scroll {
  overflow: hidden;
}
