//###########################################################################
// Projects
//###########################################################################
.projects {
  padding-left: 45px;
  padding-right: 45px;
  @include bp(sm) {
    padding-left: 7.292vw;
    padding-right: 7.292vw;
  }
  @include bp(lg) {
  }
  &__title {
    font-weight: 100;
    text-align: center;
    margin-bottom: 43px;
    text-align: left;
    @include bp(sm) {
      text-align: center;
      margin-bottom: 4.688vw;
      font-size: 31px;
    }
    @include bp(lg) {
      font-size: 3.75vw;
    }
  }
  &__content {
    padding: 15px 0px;
    @include bp(sm) {
      padding: 15px 15px;
    }
    @include bp(lg) {
      padding: 0.781vw;
    }
  }
}
