//###########################################################################
// Services block
//###########################################################################
.service {
  padding: 70px 45px;
  color: $text-color-light;
  height: 100%;
  background-size: cover;
  @include bp(lg) {
    padding: 6.979vw 3vw;
  }
  &__heading {
    margin-bottom: 21px;
    // line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    @include bp(lg) {
      font-size: 3.125vw;
      margin-bottom: 1.563vw;
      line-height: 3.802vw;
      max-width: 34.896vw;
    }
  }
  &__body {
    @include bp(lg) {
      max-width: 27.344vw;
    }
  }
}
