//###########################################################################
// Policies
//###########################################################################

.page-cookie-policy,
.page-privacy-policy {
  h1 {
    font-size: 2vw;
  }
  h2 {
    font-size: 1.75vw;
  }
}
