.sub-footer {
  &__content {
    background-color: $primary-color;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @include bp(sm) {
    }
    @include bp(lg) {
      padding-top: 1.563vw;
      padding-bottom: 1.563vw;
    }
  }
  &__agency {
    display: inline-block;
    color: $color-white;
    font-weight: 100;
  }
}
