//###########################################################################
// Header hamburger
//###########################################################################

.header__menu-btn {
  display: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;

  span {
    display: block;
  }

  &:focus,
  &:active,
  &:hover {
    outline: none !important;
    border: none !important;
    appearance: none;
    -webkit-appearance: none;
  }

  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.header__menu-btn__icon {
  flex: 0 1 auto;
  width: 30px;
  height: 22px;
  position: relative;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }

  &:before,
  &:after,
  &--middle-anti-clock,
  &--middle-clock {
    position: absolute;
    left: 0;
    width: 26px;
    height: 4px;
    transition: transform 0.3s ease-out, background-color 0.3s ease-in-out 0.3s;
    background-color: $color-white;
  }

  &:before,
  &:after {
    content: "";

    .is-active & {
      transform: scalex(0);
    }
  }

  &:before {
    content: "";
    top: 0;
    transform-origin: 100% 50%;
  }

  &:after {
    content: "";
    bottom: 0px;
    transform-origin: 0% 50%;
    width: 26px;
  }

  &--middle-anti-clock,
  &--middle-clock {
    top: 9px;
    transform-origin: 50% 50%;
  }

  &--middle-anti-clock {
    .is-active & {
      transform: rotate(-45deg) scaleX(1.25) translateX(0px);
    }
  }

  &--middle-clock {
    .is-active & {
      transform: rotate(45deg) scaleX(1.25) translateX(0px);
    }
  }
}

@include bp(tablet) {
  .header__menu-btn {
    height: auto;
    display: flex;
    position: absolute;
    top: 55px;
    right: 30px;
  }
}
