//###########################################################################
// Text image (section with a background image and text sits on the right)
//###########################################################################
.image-text {
  position: relative;
  &__content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 14.323vw;

    @include bp(sm) {
      max-width: 500px;
    }
    @include bp(lg) {
      max-width: 26.042vw;
    }
  }
  &__heading {
    font-weight: 100;
    margin-bottom: 23px;
    @include bp(sm) {
      font-size: 31px;
    }
    @include bp(lg) {
      margin-bottom: 1.98vw;
      font-size: 3.75vw;
    }
  }
}
