//###########################################################################
// Fonts reset
//###########################################################################

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: 20px;

  @include bp(lg) {
    margin-bottom: 30px;
  }
}

// Lists
//
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

// Remove bootstrap blue outline on focus
//
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

// Remove basic link hover styling
//
a:hover {
  text-decoration: none;
}
